<header>
  <div class="header-content">
    <div class="profile-section">
      <div class="profile-icon" onclick="toggleDropdown()">
        <img src="/img/profile.jpg" alt="Profile Picture" />
      </div>
      <ul id="dropdownMenu" class="dropdown-menu">
        <li><a href="/profile">Profile</a></li>
        <li><a href="/orders">Orders</a></li>
        <li><a href="/wishlist">Wishlist</a></li>
        <li><a href="/listings">Listings</a></li>
        <li><a href="/cart">Cart</a></li>
      </ul>
    </div>
    <h1 id="heading">Welcome to Our Online Book Store</h1>
  </div>
  <nav>
    <ul>
      <li><a href="/listBook">list Books</a></li>
      <li><a href="/login">Login</a></li>
      <li><a href="/register">Register</a></li>
    </ul>
  </nav>
</header>

<link rel="stylesheet" href="/css/header.css" />
<script src="/js/navBar.js" defer></script>

<!-- 
<link rel="stylesheet" href="/css/header.css" />
<script src="/js/navBar.js" defer></script> -->
