<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>404</title>
    <link rel="stylesheet" href="/css/404.css" />
  </head>
  <body>
    <%- include ('includes/header.ejs') %>
    <div class="container">
      <h1>404 Not Found</h1>
      <p>page not found</p>
      <p>Go back to <a class="link" href="/">home</a>.</p>
    </div>
    <%- include ('includes/footer.ejs') %>
  </body>
</html>
